/* Global Styles */
html,
body,
.view {
    height: 100%;
}
body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    align: center;
}
.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

/* Navigation*/

.navbar {
    background-color: transparent;
}

.scrolling-navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
    background-color: #212121; /*Gray:212121 Navy:1C2331*/ 
}

footer.page-footer {
    background-color: #212121;
    margin-top: 7rem;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #212121;
    }
}

/*Call to action*/

.flex-center {
    color: #fff;
}

.view {
    background: url("../img/MtFuji_xs.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/*Banner*/

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background-size: cover;
}
.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}
.banner-social-buttons ul {
    float: right;
    margin: 0;    
}
.banner-social-buttons a {
    color: #f8f8f8;
}
@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}
@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }
    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }
    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}


/* Underline */
li.animateUnderline a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background: #ffffff;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: .1s linear;
}
li.animateUnderline a:hover:before,
li.animateUnderline a:focus:before {
  visibility: visible;
  transform: scaleX(1);
}

/* Custom Button Styles */
.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}
.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}
.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}
.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}


