<footer class="mt-16 py-16 text-center lg:mt-20 lg:py-20">
  <p class="text-sm text-primary-950/70 dark:text-primary-200/70">
    Made with &lt;3 in Astro + React | &copy; {new Date().getFullYear()} Jennifer Long
  </p>
</footer>
